@font-face {
  font-family: Madimi;
  src: url("../src/MadimiOne-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: Madimi;
}

body {
  background-color: #29394a;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

header {
  background-color: #34495e;
  width: 100%;
  padding: 0.5vh;
  margin: 0;
  text-align: center;
}
header h1 {
  font-size: 6vh;
  margin: 1vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#__next {
  width: 100%;
  top: 0;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}

.gameBox {
  padding: 20px 30px;
  position: relative;
  margin: 10vh auto;
  height: 350px;
  width: 450px;
}

.figureBox {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figureParts {
  display: none;
}

.wrongLettersBox {
  position: absolute;
  top: 20px;
  right: -70px;
  text-align: center;
  background-color: #bcd7e7;
  color: #34495e;
  width: 22vh;
  padding: 1vh;
  border-radius: 12px;
}

.wrongLettersBox p {
  margin: 0 0 5px;
  font-size: 20px;
}

.wrongLettersBox span {
  font-size: 20px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popupBox {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notificationBox {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notificationBox p {
  margin: 0;
}

.notificationBox.show {
  transform: translateY(-50px);
}

/*  Play Button on Home page*/
.playBtn {
  padding: 3vh;
  width: 20vh;
  font-size: 5vh;
  color: #34495e;
  margin-top: 25vh;
}
.playBtn:hover {
  color: #2980b9;
}

/*  Slider EasyMode */
.easyModeBox {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  top: 20%;
  right: 2%;
}

.easyModeText {
  margin-right: 2vh;
  font-size: 2vh;
  color: whitesmoke;
}

.switch {
  position: relative;
  display: flex;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 100px;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*  HomeBtn on Game Page  */
.homeBtn {
  color: #34495e;
  font-size: 1.5rem;
  text-decoration: none !important;
  background-color: #bcd7e7;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 17px;
  position: absolute;
  top: 20%;
  left: 5%;
}
